// @use "./techit/utils" as *;
// @use "./techit/likelion" as lion;
@use "./techit";

.wrapper {
  border: 1px solid red;
  @include techit.utils-size(200px, 150px);
  padding: techit.$lion-spacing-1;
  margin: techit.$utils-spacing-2;
}
